.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

# npm package modules
node_modules/

# distribution files
public/dist/


# Floobits
.floo
.floobit
.floo
.flooignore
